<div class="container_big-card">
  <div class="big-card_picture">
    <img src="../../../assets/amanea_horse.jpg" alt="cavalo pequeno no deserto">
  </div>
  <div class="big-card_title">
    <a href="#">
    <h1>manchete do big card</h1>
    </a>
  </div>
  <div class="big-card_description">
    <a href="#">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur debitis eius rerum sit nisi vero, tempore
        quis laudantium laborum in.
      </p>
    </a>
  </div>
</div>
